<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8 />
    <script src='../../libs/jquery.js'></script>
    <script src='../../libs/handlebars.js'></script>
    <script src='../../libs/ember.js'></script>
    <script src='../../libs/ember-data.js'></script>
    <script src='app.js'></script>

    <title>Learning Ember</title>
  </head>
  <body>

    <script type="text/x-handlebars" data-template-name="application">
      Hello, {{firstName}} {{lastName}}<br />
      <nav>
        {{#link-to "index"}} Home {{/link-to}}
        {{#link-to "contributors"}} Contributors {{/link-to}}
      </nav>
      <div>
        {{outlet}}
      </div>
    </script>



    <script type="text/x-handlebars" data-template-name="index">
      <div>{{title}}</div>
    </script>


    <script type="text/x-handlebars" data-template-name="contributors">
      <ul>
        {{#each contributor in controller}}
        <li> {{#link-to contributor contributor}} {{contributor.login}} {{/link-to}}</li>
        {{/each}}
      </ul>
    </script>

    <script type="text/x-handlebars" data-template-name="contributor">
      Contributor: {{login}}, contributions: {{contributions}}
    </script>

  </body>
</html>
